* { margin: 0; padding: 0; outline: 0; border:none; }

/************************* struktura strony ***********************/
body 
{
    color:#8A867C;
    background:#202020;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:12px;
}

h1, h2, h3, h4 {
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

a
{
    text-decoration:none;    
}
a:link, a:visited
{
    color:#9A9646;
}
a:hover
{
    color:#fff;
}

#whole
{
    width:950px;
    margin: 0 auto;
    background:#2b2b2b;
}

#top
{
    height:210px;    
	overflow:hidden;
    background:url(img/top.jpg) no-repeat top left;
    /*padding: 30px 0 0;*/
}

#user
{
    float:left;
    margin:5px 0 0 15px;
}

#top h1
{
	background: #202020;
	color: #FFFFFF;
	float: right;
	font-size: 36px;
	padding: 10px 50px 15px 20px;
	margin-top:30px;
}

#menu
{
    height:42px;
    line-height:37px;
    vertical-align:middle;
    /*padding-left:20px;*/
    font-size:14px;
    color:#fff;
    background:url(img/menu_bg.jpg) no-repeat top left;
}

#menu a
{
    color:#fff;
    float:left;
    margin-left:20px;
    display:block;
	padding:0 20px;
}

#menu a:link, #menu a:visited
{
    text-decoration:none;
    background:none;
}
#menu a:hover
{
    text-decoration:underline;
	background: #8ab2aa;
}

#page_bg
{
    background:url(img/page_bg.gif) repeat-y left top;
}
#page_content
{
	background:url(img/page_bg.jpg) no-repeat top left;
	min-height:459px;
	padding:30px 100px;
}
#left
{
	background: url(img/posts_top.gif) no-repeat scroll center top transparent;
	float: left;
	margin-right:41px;
	padding: 10px 0 0;
	width: 500px;
}
#left_bottom
{
	background: url("img/posts_bottom.gif") no-repeat scroll center bottom transparent;
	margin: 0;
	padding: 0 0 19px;
	width: 500px;
}
#left_content
{
	background: url("img/posts_content.gif") repeat-y scroll 0 0 transparent;
	margin: 0;
	padding: 0;
	width: 500px;
}

.post h2
{
	background: url("img/arrow.jpg") no-repeat scroll left center transparent;
	color: #E2C47C;
	font: 20px Arial,Helvetica,sans-serif;
	letter-spacing: -1px;
	margin: 0 0 5px 10px;
	padding: 5px 0 5px 30px;
}

.post h2 a:link, .post h2 a:visited
{
	color: #E2C47C;
	text-decoration: none;
}
.post h2 a:hover
{
	color: #E2C47C;
	text-decoration: underline;
}
.post .time
{
	background: url("img/post_time.png") no-repeat scroll left center #9A9646;
	color: #000000;
	float: right;
	height: 25px;
	line-height: 25px;
	margin: 0 1px;
	padding: 0 10px;
}
.post .time a:link, .post .time a:visited
{ color:#fff; text-decoration:none;}
.post .time a:hover
{ color:#fff; text-decoration:underline;}
.post .content
{
	color: #97938A;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	padding: 0 0 0 10px;
}
.post .content p
{
	color: #8A867C;
	font-size: 11px;
	padding: 0 10px;
	margin-top:10px;
}
.post .comments_count  /* zmienilem bo mi bylo potrzebne comments ;p */
{
	padding: 10px 0 0 10px;
}
#left_content hr
{
	background: none repeat scroll 0 0 #414331;
	color: #FFFFFF;
	height: 1px;
}
#left_content .allert
{
	border-left: 3px solid #AAC028;
	border-right: 3px solid #AAC028;
	color: #AAC028;
	font-size: 16px;
	left: -120px;
	width: 200px;
	margin-left: 50%;
	padding: 2px 20px;
	margin-top:10px;
	margin-bottom:10px;
	position: relative;
	text-decoration: blink;
}
.inside_left_content
{padding:0 20px;}

#footer_top
{
	background:url(img/footer_top.gif) no-repeat top left;
	height:15px;
}
#footer_content
{
	background:url(img/footer_bg.gif) repeat top left;
	min-height:130px;
}
#footer_menu
{
	color: #CBE812;
	float: right;
	margin: 10px 50px 5px 5px;
	font-weight:bold;
}
#footer_menu a
{ color:#CBE812; }
#footer_menu a:hover
{ color:#fff; border-top:solid #fff 2px; }
#abg_logo
{
	width:20px;
	height:145px;
	position:absolute;
	left:50%;
	margin-left:475px;
	background:url(img/abg_logo.png) no-repeat left bottom;
}
/*********************** inne *****************************************/
#admin_tools
{}
#admin_tools .button
{
    display:block; 
    height:25px; 
    border: 1px solid #8A867C; 
    line-height:25px; 
    text-align:center; 
    vertical-align:middle; 
    padding:0 5px; 
    float:left; 
    background-color:#444340;
    margin:5px 5px 5px 0px;
    
    /***** radius corner ***/
    -moz-border-radius:5px; /* FF */
    -webkit-border-radius:5px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
	-khtml-border-radius:5px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
	border-radius:5px; /* pozostałe przeglądarki */
	/*ie nie chce mi sie dodawać bo wymaga dodatkowych skryptow*/
}
#admin_tools .button + .button
{ margin-left:5px; }
#admin_tools .button:hover
{
    background-color:#565553;
    border-color:#9A9646;
}
/********************* formularz editor *********************************/
.new_post .editor-field input
{ background-color: #202020; color: #FFFFFF; width: 740px; padding:3px; }
.new_post .editor-field textarea
{ background-color: #202020; color: #FFFFFF; width: 740px; padding:3px; }
.new_post .editor-field select
{ background-color: #202020; color: #FFFFFF; width: 100px; padding:3px; }
/********************* ogolne klasy ***********************************/

.fieldset
{border: 1px solid #4E4421; padding:5px;}
.fieldset legend
{padding:0 5px;}

.error
{color:#ff0000;}

/*button w polu fieldset złożony z diva i napisu*/
.fieldset .button
{
    display:block; 
    height:25px; 
    border: 1px solid #8A867C; 
    line-height:25px; 
    text-align:center; 
    vertical-align:middle; 
    padding:0 5px; 
    float:right; 
    background-color:#444340;
    margin:10px 5px 5px 5px;
    
    /***** radius corner ***/
    -moz-border-radius:5px; /* FF */
    -webkit-border-radius:5px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
	-khtml-border-radius:5px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
	border-radius:5px; /* pozostałe przeglądarki */
	/*ie nie chce mi sie dodawać bo wymaga dodatkowych skryptow*/
	
	color:#9A9646;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:12px;
} 
.fieldset .button:hover
{
    color:#fff;
    background-color:#565553;
    border-color:#9A9646;
}
/*label dla buttona w polu fieldset złożonego z diva i wewnętrznego input submit*/
.fieldset .button_label
{
    color:#9A9646;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:12px;
    background:none;
}
.fieldset .button_label:hover
{
    color:#fff;
    border-color:#9A9646;
    background:none;
}

.radius{
/***** radius corner ***/
    -moz-border-radius:5px; /* FF */
    -webkit-border-radius:5px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
	-khtml-border-radius:5px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
	border-radius:5px; /* pozostałe przeglądarki */
	/*ie nie chce mi sie dodawać bo wymaga dodatkowych skryptow*/
}

.clear20
{clear:both;height:20px;}


/*******************************************CSS dedzia********************************************/

.post .comment
{
	color: #97938A;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 0 10px 0 10px;
}

.comment .autor
{
	float:left;
}

.comment .data
{
	float:right;
}

.comment .tresc
{
	padding: 0 10px 0 10px;
}